# Node.js dependencies
node_modules/
.pnp/
.pnp.js

# Build artifacts
dist/
build/
out/
es/
lib/
*.js
*.js.map
*.d.ts
*.tsbuildinfo

# IDE and OS specific files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
tmp/

# Environment variables
.env
.env.local

# Test coverage reports
coverage/

# Bundler specific files
.parcel-cache/
.next/
.nuxt/
.svelte-kit/